$colorbtnbackground: #B7F46E;
$borderrad: 10px;
    .OneCourse {
        border-color:#539700;
        border-style: solid;
        border-radius: $borderrad;
        border-width: 2px;
        background-color: $colorbtnbackground ;
        width: 93%;
        padding: 1vh;
        margin: 1vh;
        button {
            background-color: $colorbtnbackground;
            border-color: $colorbtnbackground;
            border-style: none;
            color:#539700;
        }
        button:focus{
            background-color: $colorbtnbackground;
            transform: rotate(90deg);
        }
    }
    .AllModule{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: #080808c5;
        padding:1vh;
        border-radius: $borderrad;
        button{
            margin:0.5vh;
            border-radius: $borderrad;
            width:max-content;
            padding:0.25vh;
        }
        button:active{
            background-color: $colorbtnbackground;
        }
    }
@media  screen and (min-width : 768pх) {
    .OneCourse {
        background-color: $colorbtnbackground;
    }
}
@media  screen and (min-width: 1024px) {
    .OneCourse {
        background-color: $colorbtnbackground;
    }
    .AllModule{
        display: flex;
        flex-direction: row;
    } 
}
@media  screen and (min-width: 1355px) {
    .OneCourse {
        background-color: $colorbtnbackground;
    }
    .AllModule{
        display: flex;
        flex-direction: row;
    }
}
@media  screen and (min-width: 1515px) {
    .OneCourse {
        background-color: $colorbtnbackground;
    }
    .AllModule{
        display: flex;
        flex-direction: row;
    }
        
}
@media  screen and (min-width: 1896px) {
    .OneCourse {
        border-color:#539700;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
        background-color: $colorbtnbackground;
        width: 25%;
    }
    .ArrayCourse{
        width: 25vw;
        margin:auto;
    }
    .AllModule{
        display: flex;
        flex-direction: row;
    }
        
}